In [1]:
import pandas as pd

In [2]:
df_results = pd.read_csv("results.csv")
df_goalscorers = pd.read_csv("goalscorers.csv")
df_shootouts = pd.read_csv("shootouts.csv")

In [3]:
df_results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
45310,2023-11-21,Wales,Turkey,1,1,UEFA Euro qualification,Cardiff,Wales,False
45311,2023-11-21,Croatia,Armenia,1,0,UEFA Euro qualification,Zagreb,Croatia,False
45312,2023-11-21,Andorra,Israel,0,2,UEFA Euro qualification,Andorra la Vella,Andorra,False
45313,2023-11-21,Kosovo,Belarus,0,1,UEFA Euro qualification,Pristina,Kosovo,False
45314,2023-11-21,Romania,Switzerland,1,0,UEFA Euro qualification,Bucharest,Romania,False

In [4]:
df_shootouts.tail(7)

           date      home_team         away_team     winner first_shooter
555  2023-07-09         Orkney         Greenland  Greenland           NaN
556  2023-07-13          Åland  Falkland Islands      Åland           NaN
557  2023-07-12  United States            Panama     Panama           NaN
558  2023-09-07           Iraq             India       Iraq           NaN
559  2023-09-10       Thailand              Iraq       Iraq           NaN
560  2023-10-13           Iraq             Qatar      Qatar           NaN
561  2023-11-21         Mexico          Honduras     Mexico           NaN

In [5]:
df_goalscorers.head()

,date,home_team,away_team,team,scorer,minute,own_goal,penalty
0,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False
1,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False
2,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,70.0,False,False
3,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,75.0,False,False
4,1916-07-06,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False

## Objectives
1. Calculating the average number of goals per game (1900 and 2000)

In [6]:
df_results_filtered = df_results[(df_results["date"] >= "1900-01-01") & (df_results["date"] < "2000-01-01")].copy()
# df_results_filtered

df_results_filtered["total_goals"] =  df_results_filtered["home_score"] + df_results_filtered["away_score"]
# df_results_filtered

average_goals_per_game = df_results_filtered["total_goals"].mean()
average_goals_per_game

3.0824074074074073

In [7]:
with open("answers", "a") as file:
    file.write("\n1. Average number of goals per game between 1900 and 2000:\n\t")
    file.write(str(average_goals_per_game))
    
print("Average goals per game added to answers.txt")

Average goals per game added to answers.txt

2. Number of shootouts wins by country in alphabetical order

In [8]:
shootout_wins = df_shootouts["winner"].value_counts().reset_index()
shootout_wins.columns = ["country", "shootout_wins"]
shootout_wins = shootout_wins.sort_values("country").reset_index(drop=True)

shootout_wins

                 country  shootout_wins
0               Abkhazia              2
1                Algeria              7
2                 Angola              7
3    Antigua and Barbuda              2
4              Argentina             14
..                   ...            ...
158               Zambia             13
159             Zanzibar              2
160             Zimbabwe              7
161                Åland              1
162        Åland Islands              2

[163 rows x 2 columns]

In [9]:
with open("answers", "a") as file:
    file.write("\n\n2. Number of shootout wins by country in alphabetical order:\n")
    file.write(shootout_wins.to_string(index=False))
    
print("Number of shootout wins by country added to answers.txt")

Number of shootout wins by country added to answers.txt

3. key that allows the joining together of goal scorers, results, and shootouts

In [10]:
print(f"df_results shape: {df_results.shape}, df_goalscorers shape: {df_goalscorers.shape}, df_shootouts shape: {df_shootouts.shape}")

df_results shape: (45315, 9), df_goalscorers shape: (43189, 8), df_shootouts shape: (562, 5)

In [11]:
print(f"df_goalscorers columns: {df_goalscorers.columns}\ndf_results columns: {df_results.columns}\ndf_shootouts columns: {df_shootouts.columns}")

df_goalscorers columns: Index(['date', 'home_team', 'away_team', 'team', 'scorer', 'minute',
       'own_goal', 'penalty'],
      dtype='object')
df_results columns: Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral'],
      dtype='object')
df_shootouts columns: Index(['date', 'home_team', 'away_team', 'winner', 'first_shooter'], dtype='object')

In [12]:
# df_goalscorers["match_key"] = df_goalscorers["date"] + "-" + df_goalscorers["home_team"] + "-" + df_goalscorers["away_team"]
# df_results["match_key"] = df_results["date"] + "-" + df_results["home_team"] + "-" + df_results["away_team"]
# df_shootouts["match_key"] = df_shootouts["date"] + "-" + df_shootouts["home_team"] + "-" + df_shootouts["away_team"]
# df_merged_results = pd.merge(df_results,df_shootouts, on="match_key", how="left")
# df_merged = pd.merge(df_merged_results, df_goalscorers, on="match_key", how="left")

In [13]:
# using key as the combination of date, home_team and away_team
match_key = "date" + "-" + "home_team" + "-" + "away_team"
with open("answers", "a") as file:
    file.write("\n\n3. key that allows the joining together of goal scorers, results, and shootouts:\n")
    file.write(match_key)
    
print("key that allows the joining together of goal scorers, results, and shootouts added to answers.txt")

key that allows the joining together of goal scorers, results, and shootouts added to answers.txt

In [14]:
df_merged_results = pd.merge(df_results, df_shootouts, on=["date", "home_team", "away_team"], how="left")
df_merged = pd.merge(df_merged_results, df_goalscorers, on=["date", "home_team", "away_team"], how="left")
# df_merged_results
df_merged.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winner,first_shooter,team,scorer,minute,own_goal,penalty
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_merged_results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winner,first_shooter
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,NaN,NaN
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,NaN,NaN
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,NaN,NaN
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,NaN,NaN
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,NaN,NaN

4. Teams that have won a penalty shootout after a 1-1 draw

In [16]:
# only combination of shootouts and results required
df_draws_1_1 = df_merged[(df_merged["home_score"] == 1) & (df_merged["away_score"] == 1) & (df_merged["penalty"] == True)]
# df_draws_1_1
shootout_winners = df_draws_1_1[["tournament","home_team","away_team","winner"]]
# shootout_winners = df_draws_1_1[["winner"]]
shootout_winners = shootout_winners.dropna()
shootout_winners = shootout_winners.reset_index(drop=True)
shootout_winners

                tournament     home_team            away_team        winner
0           FIFA World Cup        Mexico             Bulgaria      Bulgaria
1             Copa América       Ecuador               Mexico        Mexico
2   African Cup of Nations  Burkina Faso              Tunisia  Burkina Faso
3           FIFA World Cup         Spain  Republic of Ireland         Spain
4   African Cup of Nations       Tunisia              Nigeria       Tunisia
5   African Cup of Nations       Tunisia              Nigeria       Tunisia
6           FIFA World Cup         Italy               France         Italy
7                 Gold Cup        Panama          El Salvador        Panama
8   African Cup of Nations  Burkina Faso                Ghana  Burkina Faso
9             Copa América        Brazil             Paraguay      Paraguay
10               UEFA Euro       Germany                Italy       Germany
11          FIFA World Cup        Russia                Spain        Russia
12          FIFA World Cup      Colombia              England       England
13                Gold Cup        Mexico           Costa Rica        Mexico
14              Baltic Cup        Latvia              Iceland       Iceland

In [17]:
with open("answers", "a") as file:
    file.write("\n\n4. Teams that have won a penalty shootout after a 1-1 draw:\n")
    file.write(shootout_winners.to_string(index=False))
    
print("Teams that won a shootout after a 1-1 draw added to answers.txt")

Teams that won a shootout after a 1-1 draw added to answers.txt

5. Top goal scorers by tournament, and what percentage that equates to for all goals scored in the tournament.

In [18]:
df_merged["total_goals"] =  df_merged["home_score"] + df_merged["away_score"]
df_top_scorer = df_merged[["tournament","home_team","away_team","total_goals","scorer"]].copy()
# df_top_scorer

goals_per_player = df_top_scorer.groupby(["tournament", "scorer"]).size().reset_index()
goals_per_player.columns = ["tournament", "scorer","goals_scored"]
goals_per_player = goals_per_player.sort_values("goals_scored",ascending=False)
# goals_per_player

top_scorers = goals_per_player.groupby("tournament").head(1)
# top_scorers

total_goals = df_top_scorer.groupby("tournament")["total_goals"].sum()
total_goals.columns = ["tournament", "total_goals"]
# total_goals

df_top_scorers = pd.merge(total_goals, top_scorers, on=["tournament"], how='inner')
df_top_scorers["contribution_percentage"] = (df_top_scorers["goals_scored"] / df_top_scorers["total_goals"]) * 100
df_top_scorers_with_percentage = df_top_scorers[["tournament","scorer","contribution_percentage"]].copy()
df_top_scorers_with_percentage

,tournament,scorer,contribution_percentage
0,AFC Asian Cup,Ali Daei,0.373632
1,African Cup of Nations,Samuel Eto'o,0.291592
2,Baltic Cup,Ēriks Pētersons,1.041667
3,British Home Championship,Geoff Hurst,0.210194
4,CONMEBOL–UEFA Cup of Champions,Ángel Di María,5.882353
5,Confederations Cup,Cuauhtémoc Blanco,0.475436
6,Copa América,Norberto Doroteo Méndez,0.138335
7,FIFA World Cup,Miroslav Klose,0.142197
8,FIFA World Cup qualification,Carlos Ruiz,0.039356
9,Gold Cup,Landon Donovan,0.407516
10,NAFC Championship,Luis de la Fuente,5.000000
11,Oceania Nations Cup,Damian Mori,0.395928
12,UEFA Euro,Cristiano Ronaldo,0.486280
13,UEFA Euro qualification,Cristiano Ronaldo,0.129965
14,UEFA Nations League,Aleksandar Mitrović,0.336862

In [19]:
with open("answers", "a") as file:
    file.write("\n\n5. Top goal scorers by tournament, along with percentage that equates to for all goals scored in the tournament:\n")
    file.write(df_top_scorers_with_percentage.to_string(index=False))
    
print("Top scorers of each tournament along with the percentage of all goals scored added to answers.txt")

Top scorers of each tournament along with the percentage of all goals scored added to answers.txt

Additional (If you have time)
1. Create and additional column that flags records with data quality issues

In [20]:
# Missing values
# Nan values - penalty
# check duplicates - apart from goalscorers

In [21]:
duplicate_results = df_results[df_results.duplicated(keep=False)]
duplicate_results

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score, tournament, city, country, neutral]
Index: []

In [22]:
duplicate_shootouts = df_shootouts[df_shootouts.duplicated(keep=False)]
duplicate_shootouts

Empty DataFrame
Columns: [date, home_team, away_team, winner, first_shooter]
Index: []

In [23]:
df_results.isna().sum()

date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
dtype: int64

In [24]:
df_shootouts.isna().sum()

date               0
home_team          0
away_team          0
winner             0
first_shooter    476
dtype: int64

In [25]:
df_goalscorers.isna().sum()

date           0
home_team      0
away_team      0
team           0
scorer        50
minute       260
own_goal       2
penalty        2
dtype: int64

In [26]:
df_merged.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral', 'winner', 'first_shooter',
       'team', 'scorer', 'minute', 'own_goal', 'penalty', 'total_goals'],
      dtype='object')

In [27]:
print(df_merged.dtypes)

date              object
home_team         object
away_team         object
home_score         int64
away_score         int64
tournament        object
city              object
country           object
neutral             bool
winner            object
first_shooter     object
team              object
scorer            object
minute           float64
own_goal          object
penalty           object
total_goals        int64
dtype: object

In [28]:
for column in df_merged.columns:
    unique_values = df_merged[column].unique()
    print(f"Column: {column}\nUnique Values: {unique_values}\n")

Column: date
Unique Values: ['1872-11-30' '1873-03-08' '1874-03-07' ... '2023-11-19' '2023-11-20'
 '2023-11-21']

Column: home_team
Unique Values: ['Scotland' 'England' 'Wales' 'Northern Ireland' 'United States' 'Uruguay'
 'Austria' 'Hungary' 'Argentina' 'Belgium' 'France' 'Netherlands'
 'Czechoslovakia' 'Switzerland' 'Sweden' 'Germany' 'Italy' 'Chile'
 'Norway' 'Finland' 'Luxembourg' 'Russia' 'Denmark' 'Catalonia'
 'Basque Country' 'Brazil' 'Japan' 'Paraguay' 'Canada' 'Estonia'
 'Costa Rica' 'Guatemala' 'Spain' 'Brittany' 'Poland' 'Yugoslavia'
 'New Zealand' 'Romania' 'Latvia' 'Galicia' 'Portugal' 'Andalusia'
 'China PR' 'Australia' 'Lithuania' 'Turkey' 'Central Spain' 'Mexico'
 'Aruba' 'Egypt' 'Haiti' 'Philippines' 'Bulgaria' 'Jamaica' 'Kenya'
 'Bolivia' 'Peru' 'Honduras' 'Guyana' 'Uganda' 'Belarus' 'El Salvador'
 'Barbados' 'Republic of Ireland' 'Trinidad and Tobago' 'Greece' 'Curaçao'
 'Dominica' 'Silesia' 'Guadeloupe' 'Israel' 'Suriname' 'French Guiana'
 'Cuba' 'Colombia' 'Ecuador' 'Saint Kitts and Nevis' 'Panama' 'Slovakia'
 'Manchukuo' 'Croatia' 'Nicaragua' 'Afghanistan' 'India' 'Martinique'
 'Zimbabwe' 'Iceland' 'Albania' 'Venezuela' 'Madagascar' 'Zambia'
 'Mauritius' 'Tanzania' 'Iran' 'Djibouti' 'DR Congo' 'Vietnam' 'Macau'
 'Ethiopia' 'Puerto Rico' 'Réunion' 'Sierra Leone' 'Zanzibar'
 'South Korea' 'Ghana' 'South Africa' 'New Caledonia' 'Fiji' 'Nigeria'
 'Myanmar' 'Sri Lanka' 'Tahiti' 'Gambia' 'Hong Kong' 'Singapore'
 'Malaysia' 'Indonesia' 'Guinea-Bissau' 'German DR' 'Vanuatu' 'Kernow'
 'Saarland' 'Cambodia' 'Lebanon' 'Pakistan' 'Vietnam Republic'
 'North Korea' 'Togo' 'Sudan' 'Malta' 'Syria' 'Tunisia' 'Malawi' 'Morocco'
 'Benin' 'Cameroon' 'Central African Republic' 'Gabon' 'Ivory Coast'
 'Congo' 'Mali' 'North Vietnam' 'Mongolia' 'Taiwan' 'Cyprus' 'Iraq'
 'Saint Lucia' 'Grenada' 'Thailand' 'Senegal' 'Libya' 'Guinea' 'Algeria'
 'Kuwait' 'Jordan' 'Solomon Islands' 'Liberia' 'Laos'
 'Saint Vincent and the Grenadines' 'Bermuda' 'Niger' 'Montenegro'
 'Palestine' 'Bahrain' 'Papua New Guinea' 'Burkina Faso' 'Mauritania'
 'Saudi Arabia' 'Eswatini' 'Western Australia' 'Somalia' 'Lesotho'
 'Cook Islands' 'Qatar' 'Antigua and Barbuda' 'Faroe Islands' 'Bangladesh'
 'Yemen' 'Oman' 'Yemen DPR' 'Burundi' 'Mozambique' 'Guam' 'Chad' 'Angola'
 'Dominican Republic' 'Seychelles' 'Rwanda' 'São Tomé and Príncipe'
 'Botswana' 'Northern Cyprus' 'Cape Verde' 'Kyrgyzstan' 'Georgia'
 'Azerbaijan' 'Kiribati' 'Tonga' 'Wallis Islands and Futuna'
 'United Arab Emirates' 'Brunei' 'Equatorial Guinea' 'Liechtenstein'
 'Nepal' 'Greenland' 'Niue' 'Samoa' 'American Samoa' 'Belize' 'Anguilla'
 'Cayman Islands' 'Palau' 'Sint Maarten' 'Namibia' 'Åland Islands'
 'Ynys Môn' 'Saint Martin' 'San Marino' 'Slovenia' 'Jersey' 'Shetland'
 'Isle of Wight' 'Moldova' 'Ukraine' 'Kazakhstan' 'Tajikistan'
 'Uzbekistan' 'Turkmenistan' 'Armenia' 'Czech Republic' 'Guernsey'
 'Gibraltar' 'Isle of Man' 'North Macedonia' 'Montserrat' 'Serbia'
 'Canary Islands' 'Bosnia and Herzegovina' 'Maldives' 'Andorra'
 'British Virgin Islands' 'Frøya' 'Hitra' 'United States Virgin Islands'
 'Corsica' 'Eritrea' 'Bahamas' 'Gotland' 'Saare County' 'Rhodes'
 'Micronesia' 'Bhutan' 'Orkney' 'Monaco' 'Tuvalu' 'Sark' 'Alderney'
 'Mayotte' 'Turks and Caicos Islands' 'Timor-Leste' 'Western Isles'
 'Falkland Islands' 'Kosovo' 'Republic of St. Pauli' 'Găgăuzia' 'Tibet'
 'Occitania' 'Sápmi' 'Northern Mariana Islands' 'Menorca' 'Comoros'
 'Provence' 'Arameans Suryoye' 'Padania' 'Iraqi Kurdistan' 'Gozo'
 'Bonaire' 'Western Sahara' 'Raetia' 'Darfur' 'Tamil Eelam' 'South Sudan'
 'Abkhazia' 'Saint Pierre and Miquelon' 'Artsakh' 'Madrid' 'Vatican City'
 'Ellan Vannin' 'South Ossetia' 'County of Nice' 'Székely Land'
 'Romani people' 'Felvidék' 'Chagos Islands' 'United Koreans in Japan'
 'Somaliland' 'Western Armenia' 'Barawa' 'Kárpátalja' 'Yorkshire' 'Panjab'
 'Matabeleland' 'Cascadia' 'Kabylia' 'Parishes of Jersey' 'Chameria'
 'Saint Helena' 'Yoruba Nation' 'Biafra' 'Mapuche' 'Aymara' 'Ticino'
 'Åland' 'Hmong']

Column: away_team
Unique Values: ['England' 'Scotland' 'Wales' 'Northern Ireland' 'Canada' 'Argentina'
 'Hungary' 'Czechoslovakia' 'Austria' 'Uruguay' 'France' 'Switzerland'
 'Netherlands' 'Belgium' 'Germany' 'Norway' 'Sweden' 'Italy' 'Chile'
 'Catalonia' 'Finland' 'Russia' 'Luxembourg' 'Denmark' 'Brazil'
 'Basque Country' 'United States' 'Philippines' 'Estonia' 'Provence'
 'El Salvador' 'Costa Rica' 'Paraguay' 'Yugoslavia' 'Poland' 'Portugal'
 'Spain' 'Romania' 'Australia' 'Central Spain' 'Mexico' 'Galicia'
 'Brittany' 'Asturias' 'China PR' 'New Zealand' 'Latvia' 'Guatemala'
 'Curaçao' 'Bulgaria' 'Lithuania' 'Turkey' 'Egypt' 'South Africa'
 'Jamaica' 'Japan' 'Republic of Ireland' 'Uganda' 'Bolivia' 'Haiti'
 'Trinidad and Tobago' 'Kenya' 'Ukraine' 'Honduras' 'Nicaragua' 'Greece'
 'Guyana' 'Peru' 'Aruba' 'Martinique' 'Barbados' 'Cuba' 'Israel'
 'Indonesia' 'Suriname' 'Saint Lucia' 'Ecuador' 'Venezuela' 'Grenada'
 'India' 'Panama' 'Slovakia' 'Croatia' 'Lebanon' 'Manchukuo' 'Puerto Rico'
 'Iran' 'Guadeloupe' 'Mongolia' 'Colombia' 'Tanzania' 'Zambia'
 'Montenegro' 'Mauritius' 'Zimbabwe' 'French Guiana' 'Réunion' 'Albania'
 'Zanzibar' 'Ethiopia' 'Madagascar' 'Dominica' 'South Korea' 'Djibouti'
 'Dominican Republic' 'Cyprus' 'Iceland' 'Nigeria' 'Syria' 'DR Congo'
 'Serbia' 'Taiwan' 'Afghanistan' 'Vanuatu' 'Ghana' 'Pakistan' 'German DR'
 'Sierra Leone' 'Guinea-Bissau' 'Gambia' 'Saarland' 'Tahiti' 'Burundi'
 'Sri Lanka' 'Thailand' 'Myanmar' 'New Caledonia' 'Cambodia' 'Malaysia'
 'Vietnam Republic' 'Kyrgyzstan' 'Belarus' 'Moldova' 'North Vietnam'
 'Togo' 'North Korea' 'Sudan' 'Libya' 'Singapore' 'Malta' 'Hong Kong'
 'Benin' 'Cape Verde' 'Mali' 'Burkina Faso' 'Ivory Coast' 'Cameroon'
 'Iraq' 'Tunisia' 'Morocco' 'Saint Vincent and the Grenadines' 'Guinea'
 'Congo' 'Gabon' 'Malawi' 'Jordan' 'Senegal' 'Kuwait' 'Papua New Guinea'
 'Solomon Islands' 'Liberia' 'Somalia' 'Laos' 'Saudi Arabia' 'Algeria'
 'Chad' 'Central African Republic' 'Bermuda' 'Palestine' 'Yemen' 'Bahrain'
 'Oman' 'Wallis Islands and Futuna' 'Niger' 'Corsica' 'Western Australia'
 'Botswana' 'Fiji' 'Eswatini' 'Qatar' 'Lesotho' 'Bahamas' 'Brunei'
 'Cook Islands' 'Yemen DPR' 'United Arab Emirates' 'Faroe Islands' 'Nepal'
 'Antigua and Barbuda' 'Bangladesh' 'Seychelles' 'Equatorial Guinea'
 'Mozambique' 'Mauritania' 'Angola' 'São Tomé and Príncipe' 'Macau'
 'Saint Kitts and Nevis' 'Armenia' 'Kazakhstan' 'Tonga' 'Kiribati'
 'Tuvalu' 'Samoa' 'Greenland' 'Northern Cyprus' 'Rwanda' 'Liechtenstein'
 'Bhutan' 'American Samoa' 'Cayman Islands' 'British Virgin Islands'
 'Sint Maarten' 'Ynys Môn' 'Shetland' 'Åland Islands' 'Saint Martin'
 'San Marino' 'Montserrat' 'Anguilla' 'Guernsey' 'Isle of Wight' 'Jersey'
 'Georgia' 'Guam' 'Turkmenistan' 'Slovenia' 'Uzbekistan' 'Eritrea'
 'Tajikistan' 'Namibia' 'Azerbaijan' 'Czech Republic' 'Vietnam'
 'Isle of Man' 'Gibraltar' 'North Macedonia' 'Belize'
 'Bosnia and Herzegovina' 'Maldives' 'Andorra' 'Frøya' 'Hitra'
 'Northern Mariana Islands' 'Kernow' 'Turks and Caicos Islands'
 'United States Virgin Islands' 'Micronesia' 'Saare County' 'Rhodes'
 'Tibet' 'Orkney' 'Falkland Islands' 'Mayotte' 'Monaco' 'Vatican City'
 'Timor-Leste' 'Gotland' 'Alderney' 'Sark' 'Western Isles' 'Crimea'
 'Sápmi' 'Comoros' 'Menorca' 'Iraqi Kurdistan' 'Padania'
 'Arameans Suryoye' 'Occitania' 'Gozo' 'Two Sicilies'
 'Saint Pierre and Miquelon' 'Bonaire' 'Western Sahara' 'Raetia' 'Darfur'
 'Tamil Eelam' 'Artsakh' 'Abkhazia' 'South Sudan' 'Andalusia'
 'South Ossetia' 'County of Nice' 'Ellan Vannin' 'Romani people'
 'Felvidék' 'Chagos Islands' 'Székely Land' 'Somaliland' 'Western Armenia'
 'Panjab' 'Kosovo' 'Kárpátalja' 'Yorkshire' 'Surrey' 'Cascadia'
 'Matabeleland' 'Kabylia' 'United Koreans in Japan' 'Barawa'
 'Parishes of Jersey' 'Chameria' 'Saint Helena' 'Biafra' 'Maule Sur'
 'Aymara' 'Åland' 'Hmong']

Column: home_score
Unique Values: [ 0  4  2  3  1  7  9  5  6  8 11 13 12 10 15 14 21 30 24 18 16 19 20 17
 22 31]

Column: away_score
Unique Values: [ 0  2  1  3  4  6  5 13  8  7 10  9 11 12 15 18 16 14 19 20 17 21]

Column: tournament
Unique Values: ['Friendly' 'British Home Championship' 'Évence Coppée Trophy'
 'Copa Lipton' 'Copa Newton' 'Copa Premio Honor Argentino'
 'Copa Premio Honor Uruguayo' 'Copa Roca' 'Copa América'
 'Copa Chevallier Boutell' 'Nordic Championship'
 'Central European International Cup' 'Baltic Cup' 'Balkan Cup'
 'FIFA World Cup' 'Copa Rio Branco' 'FIFA World Cup qualification'
 'Bolivarian Games' 'CCCF Championship' 'NAFC Championship'
 'Copa Oswaldo Cruz' 'Pan American Championship' 'Copa del Pacífico'
 "Copa Bernardo O'Higgins" 'AFC Asian Cup qualification' 'Atlantic Cup'
 'AFC Asian Cup' 'African Cup of Nations' 'Copa Paz del Chaco'
 'Merdeka Tournament' 'UEFA Euro qualification' 'UEFA Euro'
 'Windward Islands Tournament' 'African Cup of Nations qualification'
 'Vietnam Independence Cup' 'Copa Carlos Dittborn' 'Phillip Seaga Cup'
 'CONCACAF Championship' 'Copa Juan Pinto Durán' 'Arab Cup'
 'South Pacific Games' 'CONCACAF Championship qualification'
 'Copa Artigas' 'GaNEFo' "King's Cup" 'Gulf Cup' 'Indonesia Tournament'
 'Korea Cup' 'Palestine Cup' 'Brazil Independence Cup'
 'Copa Ramón Castilla' 'Oceania Nations Cup' 'CECAFA Cup' 'Kuneitra Cup'
 'Copa Félix Bogado' 'Real Madrid 75th Anniversary Cup'
 'Beijing International Friendship Tournament' 'Kirin Cup'
 'CFU Caribbean Cup qualification' 'CFU Caribbean Cup'
 'Amílcar Cabral Cup' 'FIFA 75th Anniversary Cup'
 'Guangzhou International Friendship Tournament' 'Mundialito'
 'West African Cup' 'Nehru Cup' 'Merlion Cup' 'Great Wall Cup' 'UDEAC Cup'
 'Rous Cup' 'CONMEBOL–UEFA Cup of Champions' 'Lunar New Year Cup'
 'Arab Cup qualification' 'Tournoi de France'
 'Malta International Tournament' 'Matthews Cup' 'Tournament Burkina Faso'
 'Island Games' 'NAFU Championship' 'Dynasty Cup' 'Dakar Tournament'
 'UNCAF Cup' 'Gold Cup' 'USA Cup' 'Jordan International Tournament'
 'Confederations Cup' 'United Arab Emirates Friendship Tournament'
 'Oceania Nations Cup qualification' 'Simba Tournament' 'SAFF Cup'
 'AFF Championship' 'King Hassan II Tournament'
 'Cyprus International Tournament' 'Dunhill Cup'
 'COSAFA Cup qualification' 'COSAFA Cup' 'Gold Cup qualification'
 'SKN Football Festival' 'UNIFFAC Cup' 'WAFF Championship'
 'Millennium Cup' 'Cup of Ancient Civilizations' "Prime Minister's Cup"
 'The Other Final' 'EAFF Championship' 'TIFOCO Tournament'
 'Afro-Asian Games' 'AFC Challenge Cup' 'FIFI Wild Cup' 'ELF Cup'
 'Viva World Cup' 'AFC Challenge Cup qualification'
 'African Nations Championship' 'VFF Cup' 'Dragon Cup' 'ABCS Tournament'
 'Nile Basin Tournament' 'Nations Cup' 'Copa Confraternidad'
 'Pacific Games' 'Superclásico de las Américas' 'Kirin Challenge Cup'
 'OSN Cup' 'CONIFA World Football Cup' 'CONIFA European Football Cup'
 'Copa América qualification' 'World Unity Cup' 'Pacific Mini Games'
 'Intercontinental Cup' 'AFF Championship qualification'
 'UEFA Nations League' 'CONCACAF Nations League qualification'
 'African Nations Championship qualification' 'Atlantic Heritage Cup'
 'Inter Games Football Tournament' 'CONCACAF Nations League'
 'Three Nations Cup' 'Mahinda Rajapaksa Cup' 'Navruz Cup'
 'CONIFA Africa Football Cup' 'CONIFA South America Football Cup'
 "MSG Prime Minister's Cup" 'Tri Nation Tournament' 'CAFA Nations Cup'
 'Mauritius Four Nations Cup' 'CONIFA World Football Cup qualification'
 'CONIFA Asia Cup']

Column: city
Unique Values: ['Glasgow' 'London' 'Wrexham' ... 'Oujda' 'Bhubaneswar' 'Damman']

Column: country
Unique Values: ['Scotland' 'England' 'Wales' 'Ireland' 'United States' 'Uruguay'
 'Austria' 'Hungary' 'Argentina' 'Belgium' 'France' 'Netherlands'
 'Bohemia' 'Switzerland' 'Sweden' 'Germany' 'Italy' 'Chile' 'Norway'
 'Finland' 'Luxembourg' 'Russia' 'Denmark' 'Spain' 'Japan' 'Brazil'
 'Paraguay' 'China PR' 'Canada' 'Estonia' 'Guatemala' 'Czechoslovakia'
 'Poland' 'Yugoslavia' 'New Zealand' 'Romania' 'Latvia' 'Portugal'
 'Northern Ireland' 'Australia' 'Lithuania' 'Turkey' 'Mexico' 'Aruba'
 'Soviet Union' 'Haiti' 'Philippines' 'Bulgaria' 'Jamaica' 'Kenya'
 'Czech Republic' 'Peru' 'Honduras' 'British Guyana' 'Uganda'
 'El Salvador' 'Barbados' 'Irish Free State' 'Trinidad and Tobago'
 'Greece' 'Curaçao' 'Egypt' 'Dominica' 'Guadeloupe' 'Palestine'
 'Netherlands Guyana' 'French Guiana' 'Cuba' 'Colombia'
 'Saint Kitts and Nevis' 'Éire' 'Panama' 'Bohemia and Moravia' 'Slovakia'
 'Manchuria' 'Croatia' 'Costa Rica' 'Afghanistan' 'Martinique'
 'Southern Rhodesia' 'Iceland' 'Albania' 'Madagascar' 'Northern Rhodesia'
 'Tanganyika' 'Iran' 'Ecuador' 'French Somaliland' 'Belgian Congo'
 'Mauritius' 'Hong Kong' 'Vietnam' 'Macau' 'Republic of Ireland'
 'Ethiopia' 'Suriname' 'Puerto Rico' 'Réunion' 'Israel' 'Sierra Leone'
 'Zanzibar' 'Bolivia' 'Gold Coast' 'South Africa' 'Netherlands Antilles'
 'New Caledonia' 'Fiji' 'Nigeria' 'Venezuela' 'Ceylon' 'French Polynesia'
 'Gambia' 'Singapore' 'Portuguese Guinea' 'German DR' 'New Hebrides'
 'Burma' 'Saarland' 'Cambodia' 'India' 'Lebanon' 'Pakistan' 'Malaya'
 'South Korea' 'Vietnam Republic' 'Togo' 'Indonesia' 'Sudan' 'Malta'
 'Syria' 'Tunisia' 'Nyasaland' 'Ghana' 'Morocco' 'United Arab Republic'
 'North Korea' 'Dahomey' 'Guinea-Bissau' 'Mali Federation' 'Mali'
 'Vietnam DR' 'Cyprus' 'Iraq' 'Saint Lucia' 'Senegal' 'Libya' 'Gabon'
 'Thailand' 'Congo' 'Tanzania' 'Grenada' 'Guinea'
 'Central African Republic' 'Cameroon' 'Algeria' 'Kuwait' 'Ivory Coast'
 'Lautoka' 'Liberia' 'Malaysia' 'Jordan' 'Zambia'
 'Saint Vincent and the Grenadines' 'Bermuda' 'Niger' 'Malawi' 'DR Congo'
 'Upper Volta' 'Taiwan' 'Guyana' 'Mauritania' 'Rhodesia' 'Saudi Arabia'
 'Eswatini' 'Mozambique' 'Papua New Guinea' 'Bahrain' 'Lesotho' 'Somalia'
 'Zaïre' 'Sri Lanka' 'Antigua and Barbuda' 'Faroe Islands' 'Qatar'
 'Yemen DPR' 'Burundi' 'Guam' 'Chad' 'Angola' 'Dominican Republic'
 'Seychelles' 'São Tomé and Príncipe' 'Botswana' 'Benin' 'Rwanda'
 'Bangladesh' 'United Arab Emirates' 'Zimbabwe' 'Oman' 'Equatorial Guinea'
 'Cape Verde' 'Liechtenstein' 'Nepal' 'Greenland' 'Vanuatu'
 'Western Samoa' 'Belize' 'Brunei' 'Djibouti' 'Burkina Faso' 'Yemen AR'
 'Anguilla' 'Nicaragua' 'Cayman Islands' 'Monaco' 'Solomon Islands'
 'Sint Maarten' 'Namibia' 'Saint Martin' 'San Marino' 'Slovenia' 'Moldova'
 'Ukraine' 'Kazakhstan' 'Tajikistan' 'Uzbekistan' 'Turkmenistan' 'Georgia'
 'Kyrgyzstan' 'Armenia' 'Belarus' 'Guernsey' 'Azerbaijan'
 'North Macedonia' 'Jersey' 'Montserrat' 'Gibraltar' 'Myanmar'
 'Bosnia and Herzegovina' 'Tonga' 'Andorra' 'Yemen'
 'United States Virgin Islands' 'Palau' 'Cook Islands'
 'British Virgin Islands' 'Eritrea' 'Bahamas' 'Micronesia' 'Maldives'
 'Laos' 'Isle of Man' 'Samoa' 'Bhutan' 'Serbia and Montenegro' 'Mayotte'
 'Mongolia' 'Northern Cyprus' 'Serbia' 'Montenegro'
 'Northern Mariana Islands' 'Comoros' 'Turks and Caicos Islands'
 'South Sudan' 'Kosovo' 'East Timor' 'Tahiti' 'Bonaire']

Column: neutral
Unique Values: [False  True]

Column: winner
Unique Values: [nan 'Taiwan' 'South Korea' 'Iraq' 'Thailand' 'Ghana' 'Guinea' 'Mauritius'
 'Singapore' 'Malaysia' 'Myanmar' 'Vietnam Republic' 'Syria' 'Algeria'
 'Qatar' 'Indonesia' 'Morocco' 'Tunisia' 'Kenya' 'Czechoslovakia'
 'Argentina' 'Zambia' 'Iran' 'Paraguay' 'Mali' 'Gambia' 'Nigeria'
 'China PR' 'Ethiopia' 'Togo' 'Burkina Faso' 'Germany' 'Senegal' 'Egypt'
 'Ivory Coast' 'Sierra Leone' 'Cameroon' 'Spain' 'Angola' 'Saudi Arabia'
 'Chad' 'Kuwait' 'Gabon' 'Mozambique' 'Bahrain' 'France' 'Belgium'
 'Australia' 'DR Congo' 'Zimbabwe' 'Sweden' 'Canada' 'Ecuador' 'Eswatini'
 'Uganda' 'Colombia' 'Republic of Ireland' 'Central African Republic'
 'Italy' 'United States' 'Fiji' 'Denmark' 'Martinique' 'Japan'
 'Switzerland' 'Finland' 'Bolivia' 'Bulgaria' 'Brazil' 'Tanzania' 'Mexico'
 'India' 'Antigua and Barbuda' 'Uruguay' 'Solomon Islands' 'Zanzibar'
 'Honduras' 'Jamaica' 'Suriname' 'England' 'Czech Republic' 'Sudan'
 'Croatia' 'Benin' 'Russia' 'Trinidad and Tobago' 'Haiti' 'Cuba' 'Hungary'
 'Guatemala' 'United Arab Emirates' 'Namibia' 'Poland' 'Rwanda' 'Romania'
 'South Africa' 'British Virgin Islands' 'Sri Lanka' 'Barbados' 'Lesotho'
 'Libya' 'Ynys Môn' 'Guernsey' 'North Korea' 'Cyprus' 'Slovenia' 'Belarus'
 'Serbia' 'Niger' 'Bangladesh' 'Guadeloupe' 'Malawi' 'New Caledonia'
 'Kazakhstan' 'Botswana' 'Portugal' 'Netherlands' 'Hong Kong' 'Slovakia'
 'Oman' 'Latvia' 'Costa Rica' 'Panama' 'Israel' 'Northern Cyprus'
 'Ukraine' 'Seychelles' 'Turkey' 'Sápmi' 'Menorca' 'Saint Lucia'
 'South Ossetia' 'Ellan Vannin' 'Padania' 'Iraqi Kurdistan'
 'County of Nice' 'Aruba' 'Åland Islands' 'Chile' 'Basque Country'
 'Bosnia and Herzegovina' 'Vietnam' 'Western Armenia' 'Raetia'
 'United Koreans in Japan' 'Abkhazia' 'New Zealand' 'Kárpátalja'
 'Western Isles' 'Greenland' 'Cape Verde' 'Madagascar' 'Kabylia' 'Panjab'
 'Peru' 'Northern Ireland' 'Scotland' 'Equatorial Guinea' 'Tajikistan'
 'Iceland' 'Saint Kitts and Nevis' 'Guyana' 'Puerto Rico' 'Åland']

Column: first_shooter
Unique Values: [nan 'Czechoslovakia' 'Italy' 'France' 'Denmark' 'Brazil' 'Germany'
 'Spain' 'Romania' 'Argentina' 'England' 'Netherlands' 'Colombia' 'Mexico'
 'Sweden' 'United States' 'Uruguay' 'Ecuador' 'Republic of Ireland'
 'South Korea' 'Ukraine' 'Portugal' 'Croatia' 'Paraguay' 'Costa Rica'
 'Chile' 'Switzerland' 'Russia' 'Japan' 'Morocco']

Column: team
Unique Values: [nan 'Uruguay' 'Argentina' 'Chile' 'Brazil' 'Paraguay' 'Bolivia' 'Peru'
 'Latvia' 'Estonia' 'Lithuania' 'United States' 'France' 'Mexico'
 'Yugoslavia' 'Romania' 'Sweden' 'Switzerland' 'Czechoslovakia' 'Poland'
 'Cuba' 'Haiti' 'Belgium' 'Republic of Ireland' 'Germany' 'Luxembourg'
 'Spain' 'Egypt' 'Israel' 'Portugal' 'Bulgaria' 'Hungary' 'Italy'
 'Netherlands' 'Austria' 'Norway' 'Greece' 'Ecuador' 'Colombia' 'Scotland'
 'Northern Ireland' 'Finland' 'England' 'Wales' 'Turkey' 'Saarland'
 'Japan' 'South Korea' 'Hong Kong' 'Vietnam Republic' 'Denmark'
 'Costa Rica' 'Guatemala' 'Sudan' 'Curaçao' 'Indonesia' 'German DR'
 'Syria' 'China PR' 'Iceland' 'Canada' 'Russia' 'Ghana' 'Nigeria'
 'Honduras' 'Suriname' 'Taiwan' 'Morocco' 'Tunisia' 'Cyprus' 'Ethiopia'
 'Uganda' 'Malta' 'Albania' 'India' 'Jamaica' 'Trinidad and Tobago'
 'Venezuela' 'DR Congo' 'Ivory Coast' 'Senegal' 'North Korea' 'Australia'
 'Algeria' 'Congo' 'Iran' 'Myanmar' 'Zambia' 'Bermuda' 'El Salvador'
 'Cameroon' 'Libya' 'Zimbabwe' 'Guinea' 'Kenya' 'Mali' 'Togo' 'Kuwait'
 'Cambodia' 'Iraq' 'Thailand' 'Lesotho' 'Benin' 'Tanzania' 'Mauritius'
 'Tahiti' 'New Caledonia' 'New Zealand' 'Fiji' 'Vanuatu' 'Malaysia'
 'Niger' 'Sierra Leone' 'Burkina Faso' 'Mauritania' 'Saudi Arabia'
 'Singapore' 'Qatar' 'Bahrain' 'Papua New Guinea' 'Solomon Islands'
 'Gambia' 'Mozambique' 'Malawi' 'Somalia' 'United Arab Emirates'
 'Bangladesh' 'Madagascar' 'Angola' 'Macau' 'Jordan' 'Yemen DPR' 'Brunei'
 'Yemen' 'Liberia' 'Oman' 'Gabon' 'Pakistan' 'Faroe Islands' 'San Marino'
 'Puerto Rico' 'Dominican Republic' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Barbados' 'Antigua and Barbuda'
 'Guyana' 'Nicaragua' 'Panama' 'Burundi' 'South Africa' 'Eswatini'
 'Botswana' 'Czech Republic' 'Vietnam' 'Lebanon' 'Martinique'
 'Liechtenstein' 'Croatia' 'Moldova' 'North Macedonia' 'Slovenia'
 'Belarus' 'Slovakia' 'Ukraine' 'Georgia' 'Azerbaijan' 'Armenia'
 'Dominica' 'Aruba' 'Grenada' 'Serbia' 'Saint Kitts and Nevis'
 'Guinea-Bissau' 'Namibia' 'Belize' 'Rwanda' 'Sri Lanka'
 'Bosnia and Herzegovina' 'Tonga' 'Samoa' 'Cook Islands' 'Uzbekistan'
 'Nepal' 'Tajikistan' 'Turkmenistan' 'Kazakhstan' 'Kyrgyzstan' 'Andorra'
 'Bahamas' 'Anguilla' 'British Virgin Islands' 'Montserrat'
 'United States Virgin Islands' 'Djibouti' 'São Tomé and Príncipe'
 'Seychelles' 'Equatorial Guinea' 'Central African Republic' 'Mongolia'
 'Palestine' 'Maldives' 'Philippines' 'Laos' 'Chad' 'Cape Verde'
 'Cayman Islands' 'American Samoa' 'Guadeloupe' 'Comoros' 'Timor-Leste'
 'Afghanistan' 'Turks and Caicos Islands' 'Montenegro' 'Eritrea' 'Bhutan'
 'Gibraltar' 'Guam' 'South Sudan' 'Kosovo' 'French Guiana']

Column: scorer

In [29]:
df_merged["Data_Quality_Flag"] = df_merged.isna().any(axis=1).astype(int)

In [30]:
num_missing_rows = df_merged["Data_Quality_Flag"].sum()
print(f"Number of rows with missing data: {num_missing_rows}")

Number of rows with missing data: 74368

In [31]:
df_quality_issues = df_merged[df_merged["Data_Quality_Flag"] == 1]

In [32]:
df_quality_issues.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winner,first_shooter,team,scorer,minute,own_goal,penalty,total_goals,Data_Quality_Flag
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,1
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1

In [33]:
incorrect_winner_df = df_merged[
    ((df_merged["home_score"] > df_merged["away_score"]) & (df_merged["winner"] != df_merged["home_team"])) | 
    ((df_merged["away_score"] > df_merged["home_score"]) & (df_merged["winner"] != df_merged["away_team"]))] 
    
incorrect_winner_df.dropna()

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score, tournament, city, country, neutral, winner, first_shooter, team, scorer, minute, own_goal, penalty, total_goals, Data_Quality_Flag]
Index: []

2. Resolve the identified quality issues

In [35]:
df_quality_issues["winner"].fillna("Unknown", inplace=True)
df_quality_issues["first_shooter"].fillna("Unknown", inplace=True)
df_quality_issues["team"].fillna("Unknown", inplace=True)
df_quality_issues["scorer"].fillna("Unknown", inplace=True)
df_quality_issues["minute"].fillna("Unknown", inplace=True)
df_quality_issues["own_goal"].fillna("Unknown", inplace=True)
df_quality_issues["penalty"].fillna("Unknown", inplace=True)

/tmp/ipykernel_6469/1576401964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_quality_issues["winner"].fillna("Unknown", inplace=True)
/tmp/ipykernel_6469/1576401964.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_quality_issues["first_shooter"].fillna("Unknown", inplace=True)
/tmp/ipykernel_6469/1576401964.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_quality_issues["team"].fillna("Unknown", inplace=True)
/tmp/ipykernel_6469/1576401964.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_quality_issues["scorer"].fillna("Unknown", inplace=True)
/tmp/ipykernel_6469/1576401964.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_quality_issues["minute"].fillna("Unknown", inplace=True)
/tmp/ipykernel_6469/1576401964.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_quality_issues["own_goal"].fillna("Unknown", inplace=True)
/tmp/ipykernel_6469/1576401964.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_quality_issues["penalty"].fillna("Unknown", inplace=True)

In [36]:
df_quality_issues

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winner,first_shooter,team,scorer,minute,own_goal,penalty,total_goals,Data_Quality_Flag
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,0,1
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,6,1
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,3,1
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,4,1
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74513,2023-11-21,Croatia,Armenia,1,0,UEFA Euro qualification,Zagreb,Croatia,False,Unknown,Unknown,Croatia,Ante Budimir,43.0,False,False,1,1
74514,2023-11-21,Andorra,Israel,0,2,UEFA Euro qualification,Andorra la Vella,Andorra,False,Unknown,Unknown,Israel,Joan Cervós,29.0,True,False,2,1
74515,2023-11-21,Andorra,Israel,0,2,UEFA Euro qualification,Andorra la Vella,Andorra,False,Unknown,Unknown,Israel,Gadi Kinda,81.0,False,False,2,1
74516,2023-11-21,Kosovo,Belarus,0,1,UEFA Euro qualification,Pristina,Kosovo,False,Unknown,Unknown,Belarus,Dmitry Antilevsky,43.0,False,False,1,1
74517,2023-11-21,Romania,Switzerland,1,0,UEFA Euro qualification,Bucharest,Romania,False,Unknown,Unknown,Romania,Denis Alibec,50.0,False,False,1,1